*{
    border:0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Aachen;
    src: url("Aachen Bold.ttf");
}

body{
    background-color: #121213;
    user-select: none;
    /* outline: none; */
}

header{
    position:static;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 66px;
    border-bottom:1.2px solid rgb(60, 59, 59);
}


#wordleheading{
    text-align: center;
    width:100%;
    color:white;
    font-family: Aachen;
    font-size: 2rem;
    font-weight: lighter;
    margin-left:60px ;
    display: inline;
    
}

#theme{
    position: relative;
    display: flex;
    right:0;
    margin-right: 30px;
    height:50px;
    border: none;
    outline: none;
    width:50px;
    background: none;
    justify-content: center;
    align-items: center;
   
    
}

#themeicon{
    /* width: 50px;
    height: 50px; */
    /* color: blanchedalmond; */
    font-size: 1.25rem;

}

#board{
    width:300px;
    height:360px;
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
}

.row{
    width:280px;
    height:52.5px;
    /* display: flex;
    justify-content:center;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap:5px;
}




@keyframes wiggleanim{

    0%{transform:translateX(-8px);}
    10%{transform:translateX(8px);}
    20%{transform:translateX(-6px);}
    30%{transform:translateX(6px);}
    40%{transform:translateX(-5px);}
    50%{transform:translateX(5px);}
    60%{transform:translateX(-4px);}
    70%{transform:translateX(4px);}
    80%{transform:translateX(-2px);}
    90%{transform:translateX(2px);}
    100%{transform:translateX(0px);}


}


.box{
    width:52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid #3a3a3c;
    
    /* background-color: white; */
    /* animation: flip 1s normal 0s 1 none; */
    /* background-color: aliceblue; */
    cursor:default;
    
    
}



@keyframes finish{
    0%{
        transform:translateY(0);        
    }
    20%{
        transform:translateY(-20px);

    }
    40%{
        transform:translateY(5px);
    }
    60%{
        transform:translateY(-12px);
    }
    80%{
        transform:translateY(2px);
    }
    100%{
        transform:translateY(0px);
    }


}



@keyframes flip{
    from{
        transform: rotateX(0deg);
    }

    to{
        transform: rotateX(180deg);
    }
    
}

.boxtext{
    display: flex;
    justify-content: center;
    align-items: center;
    /* position:absolute; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    
}



#maingame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10svh;
}

/* #hr1{
    color: white;
    background-color: white;
    height: 0.75px;
} */

#keyboard{
    width:484px;
    height: 198px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 8px;
}

.key{
    width:43px;
    height: 58px;
    margin-right: 6px;
    padding: 0;
    border-radius: 4px;
    color: #f8f8f8;
    background-color: #818384;
    font-size: 1.25rem;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    cursor: pointer;
   
}

.key:hover{
    background-color: white;
    color: black;
}



.keyrow{
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

#enter,#back{
    width:65.4px;
    height:58px;
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#floatinglabel{
    background-color: white;
    display: flex;
    width:fit-content;
    padding: 12px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: absolute;
    /* left: 50%; */
    margin:20px;
    top:41px;
    visibility:hidden;

    
}



@keyframes fade {
    0%{
        visibility: visible;
        opacity: 100%;}
    90%{
        opacity: 100%;
       
        }

        100%{
            opacity: 0%;
            visibility: hidden;
            }
    
}

#floatingparent{
    display: flex;
    justify-content: center;
    align-items: center;
}



@keyframes enlargeuponinput{
    from{
        transform: scale(100%);
    }

    to{
        transform: scale(110%);
    }
    
}

.boxinput{
    animation: enlargeuponinput 0.08s linear 0s 1 normal;
}

.rowaccept{
    animation: flip 1s normal 0s 1 none;

    .boxtext{
        animation: flip 1s normal 0s 1 none;
    }
    
}

.rowreject{
    animation: wiggleanim 0.7s normal 0s 1 none;
 }


 .floatinglabelanim{

    animation: fade 4s normal 0s 1 none;
}

.finishanim{
    animation: finish 1s ease-in-out 0s 1 none;
}



@media (max-width:600px){

    *{
        border:0;
        margin: 0;
        box-sizing: border-box;
    }
    
    @font-face {
        font-family: Aachen;
        src: url("Aachen Bold.ttf");
    }
    
    body{
        background-color: #121213;
        user-select: none;
        /* outline: none; */
    }
    
    header{
        
        display:flex;
        justify-content: center;
        align-items: center;
        height: 66px;
        border-bottom:1.2px solid rgb(60, 59, 59);
    }
    #wordleheading{
        color:white;
        font-family: Aachen;
        font-size: 2rem;
        font-weight: lighter;
        
    }
    
    #board{
        width:300px;
        height:360px;
        padding:10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:5px;
    }
    
    .row{
        width:280px;
        height:52.5px;
        /* display: flex;
        justify-content:center;
        align-items: center; */
        display: grid;
        grid-template-columns: repeat(5,1fr);
        gap:5px;
    }
    
    
    
    
    @keyframes wiggleanim{
    
        0%{transform:translateX(-8px);}
        10%{transform:translateX(8px);}
        20%{transform:translateX(-6px);}
        30%{transform:translateX(6px);}
        40%{transform:translateX(-5px);}
        50%{transform:translateX(5px);}
        60%{transform:translateX(-4px);}
        70%{transform:translateX(4px);}
        80%{transform:translateX(-2px);}
        90%{transform:translateX(2px);}
        100%{transform:translateX(0px);}
    
    
    }
    
    
    .box{
        width:52px;
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        border:2px solid #3a3a3c;
        
        /* background-color: white; */
        /* animation: flip 1s normal 0s 1 none; */
        /* background-color: aliceblue; */
        cursor:default;
        
        
    }
    
    
    
    @keyframes flip{
        from{
            transform: rotateX(0deg);
        }
    
        to{
            transform: rotateX(180deg);
        }
        
    }
    
    .boxtext{
        display: flex;
        justify-content: center;
        align-items: center;
        /* position:absolute; */
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2rem;
        font-weight: bold;
        color: white;
        
    }
    
    
    
    #maingame{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15svh;
    }
    
    /* #hr1{
        color: white;
        background-color: white;
        height: 0.75px;
    } */
    
    #keyboard{
        width:100svw;
        height: 198px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px 8px;
        padding: 8px;
    }
    
    .key{
        width:8.5svw;
        height: 58px;
        margin:0 3px 0 3px;
        padding: 0;
        border-radius: 4px;
        color: #f8f8f8;
        background-color: #818384;
        font-size: 1.25rem;
        font-weight: bold;
        font-family:Arial, Helvetica, sans-serif;
        cursor: pointer;
        /* padding: 8px; */
       
    }
    
    

    .key:hover{
        background-color: #818384;
        color: #f8f8f8;
    }
    
    .key:active{
        background-color: white;
        color: black;
    }

    .keyrow{
        width:100%;
        margin-bottom: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
    
    #enter,#back{
        width:65.4px;
        height:58px;
        font-size: 12px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
    #floatinglabel{
        background-color: white;
        display: flex;
        width:fit-content;
        padding: 12px;
        border-radius: 4px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8rem;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        z-index: 2;
        position: absolute;
        /* left: 50%; */
        margin:20px;
        top:41px;
        visibility:hidden;
    
        
    }
    
    
    
    @keyframes fade {
        0%{
            visibility: visible;
            opacity: 100%;}
        90%{
            opacity: 100%;
           
            }
    
            100%{
                opacity: 0%;
                visibility: hidden;
                }
        
    }
    
    #floatingparent{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    
    @keyframes enlargeuponinput{
        from{
            transform: scale(100%);
        }
    
        to{
            transform: scale(110%);
        }
        
    }
    
    .boxinput{
        animation: enlargeuponinput 0.08s linear 0s 1 normal;
    }
    
    .rowaccept{
        animation: flip 1s normal 0s 1 none;
    
        .boxtext{
            animation: flip 1s normal 0s 1 none;
        }
        
    }
    
    .rowreject{
        animation: wiggleanim 0.7s normal 0s 1 none;
     }
    
    
     .floatinglabelanim{
    
        animation: fade 1.5s normal 0s 1 none;
    }
    
    
    


}


@media(max-height:700px){

    #maingame{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1svh;
    }

    .key{
        width:8.5svw;
        height: 45px;
        margin:0 3px 0 3px;
        padding: 0;
        border-radius: 4px;
        color: #f8f8f8;
        background-color: #818384;
        font-size: 1.25rem;
        font-weight: bold;
        font-family:Arial, Helvetica, sans-serif;
        cursor: pointer;
        /* padding: 8px; */
       
    }

    #enter,#back{
        width:65.4px;
        height:45px;
        font-size: 12px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}